<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NotificationsExtensions.Win10" version="14332.0.1" targetFramework="net461" />
  <package id="Prism.Core" version="6.1.0" targetFramework="net452" />
  <package id="Prism.Unity" version="6.1.1" targetFramework="net452" />
  <package id="Prism.Wpf" version="6.1.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.102.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.102.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net461" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
</packages>